*{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}
.navbox{
    background: #475738;
    font-family: "Instrument Sans";
    padding-right: 50px;
    padding-left: 50px;
}
.navbar{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 36.773px;
    height: 36.591px;
    padding: 10px;
}
.logo img:hover{
    transform: scale(1.1);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #EDE9DE;
    font-size: 18px;
    font-weight: 600;
    margin-right: 100px;
}
li a:hover{
    color: #BD6442;
}
.cart img{
    width: 36.773px;
    height: 36.591px;
}
.cart img:hover{
    transform: scale(1.1);
}
.footer{
    background: #447C9D;
    font-family: "Instrument Sans";
    color: #EDE9DE;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.linksbox{
    grid-area: 1/3/2/4;
    text-align: right;
}
.linksbox a{
    color: #EDE9DE;
}
.linksbox a:hover{
    color: #BD6442;
}
.emailbox{
    grid-area: 1/2/2/3;
    text-align: center;
}
.emailbox button{
    background-color: #EDE9DE;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: "Instrument Sans";
    color:#447C9D;
}
.emailbox button:hover{
    background-color: #BD6442;
    color: #EDE9DE;
}
.emailbox input{
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-family: "Instrument Sans";
}
.logobox{
    grid-area: 1/1/2/2;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.cover img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}
.covertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.covertext h3{
    color: #EDE9DE;
    font-family: "Instrument Sans";
    font-size: 25px;
    font-weight: 600;
}
.covertext h1{
    color: #EDE9DE;
    font-family: "Instrument Serif";
    font-size: 40px;
    font-weight: 400;
}
.covertext button{
    background-color: #BD6442;
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: #EDE9DE;
    font-size: 20px;
    font-family: "Instrument Sans";
    font-weight: 600;
}
.covertext button:hover{
    background-color: #475738;
    color: #EDE9DE;
}
.preview{
    background-color: #EDE9DE;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    background-color: #EDE9DE;
}
.line h4{
    color: #447C9D;
    font-family: "Instrument Serif";
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
}
.pastry{
    width: 25%;
    padding: 20px;
    text-align: center;
}
.pastry img{
    width:300px;
    height: 300px;
    object-fit: cover;
}
.pastry h5{
    color: #447C9D;
    font-family: "Instrument Sans";
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.pastry button{
    background-color: #447C9D;
    border: none;
    border-radius: 10px;
    color: #EDE9DE;
    font-family: "Instrument Sans";
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 10px;
}
.pastry button:hover{
    background-color: #BD6442;
    color: #EDE9DE;
}
.images img{
    width: 33.33%;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
    display: block;
    float: left;
}
.view{
    background-color: #EDE9DE;
    text-align: center;
    padding-bottom: 20px;
}
.view button{
    background-color: #BD6442;
    border: none;
    border-radius: 10px;
    color: #EDE9DE;
    font-family: "Instrument Sans";
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 10px;
}
.view button:hover{
    background-color: #447C9D;
    color: #EDE9DE;
}