*{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ede9de;
}
.navbox{
    background: #475738;
    font-family: "Instrument Sans";
    padding-right: 50px;
    padding-left: 50px;
}
.navbar{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 36.773px;
    height: 36.591px;
    padding: 10px;
}
.logo img:hover{
    transform: scale(1.1);
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: #EDE9DE;
    font-size: 18px;
    font-weight: 600;
    margin-right: 100px;
}
li a:hover{
    color: #BD6442;
}
.cart img{
    width: 36.773px;
    height: 36.591px;
}
.cart img:hover{
    transform: scale(1.1);
}

.Main {
    margin: 20px;
    padding: 10px;
}

.Main h4 {
    color: #447C9D;
    font-family: "Instrument Serif";
    font-size: 60px;
    font-weight: 500;
    margin-left: 80px;
}

.Selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    gap: 120px;
}

.Product {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 10px;
    padding: px;
    position: relative;
}

.Product img {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    margin: 5px;
    display: block;
}

.image {
    gap: 5px;
    width: 100%;
    height: 200px;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    gap: 5px;
}

.name {
    background-color: #bd6442;
    font-family: "Instrument Serif";
    font-size: 30px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
}

.add {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.price {
    background-color: #447c9d;
    font-family: "Instrument Serif";
    font-size: 15px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
}

.button {
    background-color: #bd6442; 
    color: white;
    border: none;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #fa4700;
}

.number {
    background-color: #bd6442;
    color: white;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}


.details {
    color: #447C9D;
    font-family: "Instrument Serif";
    font-size: 15px;
}

.footer{
    background: #447C9D;
    font-family: "Instrument Sans";
    color: #EDE9DE;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.linksbox{
    grid-area: 1/3/2/4;
    text-align: right;
}
.linksbox a{
    color: #EDE9DE;
}
.linksbox a:hover{
    color: #BD6442;
}
.emailbox{
    grid-area: 1/2/2/3;
    text-align: center;
}
.emailbox button{
    background-color: #EDE9DE;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: "Instrument Sans";
    color:#447C9D;
}
.emailbox button:hover{
    background-color: #BD6442;
    color: #EDE9DE;
}
.emailbox input{
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    font-family: "Instrument Sans";
}
.logobox{
    grid-area: 1/1/2/2;
    text-align: left;
    display: flex;
    flex-direction: column;
}
